/* GENERAL */
* {
  font-family: 'Open Sans', sans-serif;
}

ul {
  margin-bottom: 0;
}

/* TYPO */
h1 {
  font-size: 100px;
  font-weight: 700;
}

/* MIX */

.display_inline {
  display: inline;
}

/* HEADER */

/* Top header */
header .top_header {
  line-height: 45px;
}

header a:hover {
  text-decoration: none;
}

header .navbar {
  text-transform: uppercase;
  font-size: 10px;
  background-color: white;
}

header .logo {
  max-width: 100px;
}

header .main_nav {
  display: inline;
}


header .main_nav a {
  color: black;
}

header .main_nav a:hover {
  color: black;
}

header .main_nav li:not(:last-child) {
  margin-right: 25px;
}

header .secondary_nav {
  display: inline;
}

header .secondary_nav .lang {
  border: none;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  background-color: transparent;
  line-height: 16px;
  margin: 0 15px;
}

header .secondary_nav .login {
  font-size: 14px;
  text-transform: none;
  padding: 5px 20px;
  background-color: black;
  color: white;
  display: inline;
}

header .secondary_nav .hamburger {
  line-height: 16px;
  display: none;
}

header .secondary_nav .hamburger i {
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width:991px) {
  header .secondary_nav .hamburger {
    display: inline;
  }

  header .secondary_nav .lang, header .secondary_nav .login, header .main_nav ul {
    display: none;
  }
}

/* Hero */
header .hero {
  padding-top: 70px;
}

header .hero__img {
  width: 100%;
}

/* MAIN */

main .products_section {
  padding: 50px 0;
}

main .products_section .product_content {
  padding: 70px 35px 50px;
  background-color: #FAFAFA;
  font-size: 16px;
}

main .products_section .img_h2 {
  max-height: 20px;
  width: auto;
  margin-bottom: 15px;
}

main .products_section .product_content a {
  display:block;
}

main .products_section .product_showcase {
  max-height:246.5px;
  object-position: center;
  max-width:100%;
  margin-top: 15px;
}

/* Responsive */

@media screen and (max-width:1199px) {
  main .products_section .product_showcase {
    max-height:189.83px;
  }
}

@media screen and (max-width:991px) {
  main .products_section .product_showcase {
    max-height:300px;
  }

  main .products_section [class*="col-"]:not(:last-child) .product_content {
    margin-bottom: 30px;
  }
}

/* How does it work section */
main .how_does_it_work {
  overflow: hidden;
  position: relative;
}

main .how_does_it_work .container_small {
  width: 1100px;
  font-size: 0;
  margin: 160px auto 70px;
}

main .how_does_it_work .banner {
  height:500px;
  position: absolute;
  left: 0;
  z-index: -1;
}

main .how_does_it_work .col_custom {
  width: calc(100% / 3);
  font-size: 16px;
  display: inline-block;
  vertical-align: bottom;
}

main .how_does_it_work .col_custom:not(.phone) {
  padding-bottom: 70px;
}

main .how_does_it_work .col_custom h2 {
  margin-bottom: 15px;
  margin-left: 100px;
  font-weight: 700;
  font-size: 32px;
}

main .how_does_it_work .col_custom h3 {
  font-weight: 600;
}

main .how_does_it_work .col_custom img {
  width:auto;
  padding: 15%;
  height: 520px;
}

main .how_does_it_work .col_custom.phone {
  position: relative;
  left: calc(100% / 3);
  text-align: center;
}

main .how_does_it_work .col_custom.sub_title {
  position: relative;
  right: calc(100% / 3);
}



/* Responsive */

@media screen and (max-width:1199px) {
  main .how_does_it_work .banner {
    left: -80px;
  }

  main .how_does_it_work .container_small {
    width: 900px;
  }

}

@media screen and (max-width:991px) {
  main .how_does_it_work .banner {
    left: -230px;
  }

  main .how_does_it_work .container_small {
    width: 750px;
    margin-top: 280px;
  }

  main .how_does_it_work .col_custom img {
    padding: 5%;
    max-height: 400px;
  }

}

@media screen and (max-width:767px) {

  main .how_does_it_work .container_small {
    width: 100%;
    margin-top: 280px;
  }

  main .how_does_it_work .col_custom {
    width: 100%;
    padding: 0 30px;
  }

  main .how_does_it_work .col_custom.phone,
  main .how_does_it_work .col_custom.sub_title {
    left: 0;
  }

  main .how_does_it_work .col_custom.sub_title h2 {
    margin-left: 0;
  }
}
